/* body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: blue;
} */
/* .h2 {
    height: 75px;
    background-color: black;
} */

/* .parent1 {
    background-color: yellow;
    height: 100px;
    width: 100px;

    /* position: inherit; */
/* position: relative; */
/* position: static; */
/* position: static; 
    position: relative;
    /* baaki sabki jagah wahi hoti hai sirf wo perticular box chage hota hai
    top: 200px;
    left: 100px;
    text-align: center;
    align-content: center;
} */

/* .parent {
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
/* grid-template-columns: repeat(3, 100px); 
    grid-auto-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 10px;
    row-gap: 10px;

}

.child {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blue;
}

.menu {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: red;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: purple;
} */
/* .parent {
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
/* grid-template-columns: repeat(3, 100px); 
    grid-auto-rows: 100px;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 10px;
    row-gap: 10px;
    /* border: 3px solid black; */
/* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
}

.child {
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid black; 

}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: blue;
    border: 3px solid black;
} */

.menu {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: brown;
    border: 3px solid black;
}

.main {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: cornflowerblue;
    border: 3px solid black;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: red;
    border: 3px solid black;
}